$fred: 'Fredoka One', cursive;
$rob: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$wht: rgba(255, 255, 255, 1);
$grad: linear-gradient(180deg, #FFB800 0%, #FFB932 21.88%, #EF9207 44.79%, #FFA800 100%);
$blue: #336699;
$ylw: #FFCC00;
$red:#D9401B;
$grn:#93E145;
